article {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;;
}
.text-content {
    width: 75ch;
    margin: auto 20px;
}
img {
    object-fit: cover;
    width: 500px;
    height: 700px;
}
h2 {
    font-size: 2.5rem;
    margin: 20px 0;
}
p {
    font-size: 1.2rem;
    color: rgb(85,85,85)
}

/* Variations */
.centered-image-article img {
    width: 100%;
    max-height: 45vh;
    margin-bottom: 30px;
}
.left-image-article {
    flex-direction: row;
    align-items: start;
}
.right-image-article {
    flex-direction: row-reverse;
    align-items: start;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
    article {
        width: 90%;
    }
    .text-content {
        width: 100%;
        max-width: 75ch;
    }
    img {
        width: 100%;
        height: auto;
        max-height: 600px;
    }
}

@media screen and (max-width: 768px) {
    article {
        width: 95%;
        margin: 30px auto;
    }
    .text-content {
        margin: auto 10px;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.1rem;
    }
    .left-image-article,
    .right-image-article {
        flex-direction: column;
        align-items: center;
    }
    img {
        width: 100%;
        height: auto;
        max-height: 400px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    article {
        width: 95%;
        margin: 20px auto;
    }
    .text-content {
        margin: auto 5px;
    }
    h2 {
        font-size: 1.6rem;
        margin: 15px 0;
    }
    p {
        font-size: 1rem;
    }
    .centered-image-article img {
        max-height: 250px;
    }
}